
<div class="jumbotron center">
	<h1>Welcome To My New Rails App!</h1>
	<br/>
	<%= link_to "Click Here To Sign Up", "#", class: "btn btn-primary" %>
	<%= link_to "Click Here To Login", "#", class: "btn btn-default" %>
</div>

